* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
address {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 375px;
  padding: 0 32px;
  margin: 0 auto;
}
.container-narrow {
  width: 295px;

  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navigation {
  display: flex;
  width: 100%;
  align-items: center;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}
.header-logo-accent {
  font-style: italic;
}
.logo-icon {
  stroke-width: 1.8px;
  stroke: #fd9222;
  fill: transparent;
  border: none;
}
.header-soc-list {
  display: none;
}
.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}
.icon-burger-btn {
  display: block;
  fill: #2f2f37;
}

.mobile-backdrop {
  position: fixed;
  background-color: #111;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  height: 100%;
  width: 100%;
}
.mobile-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  margin: 0;

  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  display: block;
  position: absolute;
  top: 28px;
  right: 28px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
}
.mobile-menu-close-icon {
  fill: #fff;
}
.mobile-menu-soc-list {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 20px;
  gap: 18px;
  border: none;
  background-color: transparent;
}
.header-soc-icon {
  stroke: #fff;
}
.mobile-menu-link {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fff;
}
.mobile-menu-link.current {
  color: #fd9222;
}
.mobile-menu-item {
  margin-bottom: 40px;
}
.mobile-menu-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 20px;
    margin: 0 auto;
  }
  .container-narrow {
    width: 624px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .container-narrow {
    width: 1056px;
  }
}

.header {
  padding-top: 20px;
  padding-bottom: 14px;
}
.header-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .burger-btn {
    display: none;
  }
  .header-menu {
    display: flex;
    gap: 24px;
    margin-left: auto;
  }
  .header-menu-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
    position: relative;
    transition: color 250ms ease;
  }
  .header-menu-item:hover {
    color: #fd9222;
  }

  .header-menu-link:first-child .header-menu-item::after {
    content: "";
    width: 100%;
    display: block;
    height: 4px;
    background-color: #fd9222;
    border-radius: 3px;
    position: absolute;
    left: 0;
    bottom: -20px;
  }
  .header-soc-list {
    display: flex;
    gap: 18px;
  }
  .header-soc-icon {
    fill: transparent;
    stroke-width: 2px;
    stroke: #fff;
  }
  .header-soc-link {
    width: 44px;
    height: 44px;
    background-color: #fd9222;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms ease, border 250ms ease;
  }
  .header-soc-link:hover {
    background-color: #fff;
    border: 1px solid #fd9222;
    border-radius: 100px;
  }
}
.hero-section {
  background-color: #1e1823;
  background-image: linear-gradient(
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url(../images/bg-mob.jpg);
  border-radius: 30px;
  padding-top: 395px;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 375px;
  margin: 0 auto 40px;
  background-size: cover;
}
.hero-section-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 484px;
}
.hero-buttons-container {
  display: flex;
  align-items: center;
}
.hero-section-button {
  background: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  font-family: inherit;
  border-radius: 100px;
  padding: 12px 28px;
  width: 120px;
  height: 41px;
  border: none;
  /* margin-right: 14px; */
  transition: background-color 250ms ease-and-out, color 250ms ease;
}
.hero-section-button:hover {
  background: #fcf1e0;
  color: #fd9222;
}
.hero-section-made-button {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 12px 28px;
  width: 159px;
  height: 41px;
}
.hero-section-scroll {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #fff;
}
.soc-icons {
  display: flex;
  margin-left: auto;
}
.hero-buttons-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 14px;
  row-gap: 32px;
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-color: #1e1823;
    background-image: linear-gradient(
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url(../images/bg-tab.jpg);
    border-radius: 30px;
    padding-top: 671px;
    padding-bottom: 46px;
    max-width: 768px;
    margin: 0 auto 72px;
  }
  .hero-section-button {
    padding: 12px 28px;
    width: 120px;
    height: 41px;
    border: none;
    /* margin-right: 14px; */
    transition: background-color 250ms ease-and-out, color 250ms ease;
  }
  .hero-section-made-button {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 14px 40px;
    width: 183px;
    height: 45px;
  }
  .hero-section-scroll {
    font-size: 14px;
    line-height: 1.28;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    background-color: #1e1823;
    background-image: linear-gradient(
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url(../images/hero-bg.jpg);
    border-radius: 30px;
    padding-top: 381px;
    padding-bottom: 40px;
    max-width: 1200px;
  }
}
/* Advantages */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.advantages-section {
  background-color: #1e1823;
  padding-top: 20px;
  padding-bottom: 20px;
}
.advantages-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}
.advantages-descr {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 768px) {
  .advantages-list {
    gap: 32px;
  }
  .advantages-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantages-item {
    flex-basis: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages-item {
    flex-basis: calc((100% - 2 * 70px) / 3);
  }
}
/* Taste */
.taste-section {
  padding-top: 60px;
  padding-bottom: 30px;
}
.taste-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  max-width: 283px;
  margin: 0 auto 24px auto;
}
.taste-accent {
  color: #fd9222;
}
.taste-descr {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 335px;
  margin: 0 auto 32px;
}
.taste {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.taste-list {
  background-color: #fd9222;
  border: 1px solid #fd9222;
  border-radius: 15px;
  padding: 28px 32px;
  position: relative;
  overflow: hidden;
}
.taste-list:hover .cover-ingridients {
  transform: translateY(0);
}
.taste-list:nth-child(3n) {
  background-color: #1e1823;
}
.taste-list:nth-child(even) {
  background-color: #ffffff;
}
.taste {
  width: 100%;
}
.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
}
.cover-ingridients {
  top: 0;
  left: 0;
  position: absolute;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}
.taste-cover-descr {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #111;
}
.taste-cover-button-first {
  background-color: #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  width: 81px;
  height: 24px;

  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
  border: none;
}
.taste-cover-button-second {
  border: 1px solid #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  width: 93px;
  height: 24px;
  background-color: #fafafa;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #111;
}
.taste-cover-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #111;
  margin-top: 14px;
}
@media screen and (min-width: 768px) {
  .taste-section {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .taste-descr {
    max-width: 486px;
    margin: 0 auto 50px;
  }
  .taste-title {
    max-width: 411px;
    margin: 0 auto 28px auto;
  }
  .taste {
    column-gap: 32px;
    row-gap: 32px;
  }
  .taste-image {
    margin: 0 auto 36px;
    display: block;
  }
  .taste-list {
    width: calc((100% - 32px)) / 2;
  }
}
@media screen and (min-width: 1200px) {
  .taste-section {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .taste {
    gap: 19px;
  }
  .taste-list {
    width: calc((100% - 3 * 19px)) / 4;
  }
}
